@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$color-primary: #350746;
$color-secondary: #631d7a;
$color-third: #bd77d7;
$color-background: #f6e7ff;
$color-pink: #e572b4;
$color-orange: #f8815d;
$color-sun: #fcc038;
$color-lavender: #aba4ff;
$color-yellow: #f3ed6a;
$color-sand: #f0e2b6;
$color-blue: #75defc;
$color-lightpink: #e3b3d5;
$color-beige: #fde4d5;
$font-title: 'Playfair Display',
serif;
$font-text: 'Roboto Mono',
monospace;
